/.scalafmt.conf.etag
.metals/
.vscode/
.bloop/
/.bsp/
!.idea/runConfigurations/
!.idea/dictionaries
/.idea/
/project/project
/project/.bloop
target
**/target/
**/.DS_Store
.DS_Store
**/*.zip
**/*.gzip
/chroma-riddl-lexer/go.sum
/.riddl-timestamp
/doc/src/main/hugo/public/**
/doc/src/main/hugo/.hugo_build.lock
/doc/src/main/hugo/resources/_gen/**
*.lock
/hugo-input/
