.bloop/
/.bsp/
!.idea/runConfigurations/
!.idea/dictionaries
/.idea/
target
**/target
**/.DS_Store
.DS_Store
**/*.zip
**/*.gzip
/chroma-riddl-lexer/go.sum
/.riddl-timestamp
/foo
doc2/src/main/hugo/public/
doc/src/main/hugo/public/
*.lock
