name: Scala CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set Up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v2
      with:
        hugo-version: 'latest'
        extended: true
    - name: Coursier Caching
      uses: coursier/cache-action@v6
    - name: Build, Run Tests, Generate Packages
      run: |
        which hugo
        sbt -v clean Test/compile packageBin test
        sbt -v "project riddlc ; graalvm-native-image:packageBin ; Universal/packageBin"
    - name: Archive GraalVM Native Image
      uses: actions/upload-artifact@v3
      with:
        name: native-image
        path: riddlc/target/graalvm-native-mage/riddlc
        retention-days: 90
    - name: Archive Universal Package
      uses: actions/upload-artifact@v3
      with:
        name: universal
        path: riddlc/target/universal/riddlc-*.zip
    - name: Cleanup Before Caching
      shell: bash
      run: |
        rm -rf "$HOME/.ivy2/local" || true
        find $HOME/Library/Caches/Coursier/v1        -name "ivydata-*.properties" -delete || true
        find $HOME/.ivy2/cache                       -name "ivydata-*.properties" -delete || true
        find $HOME/.cache/coursier/v1                -name "ivydata-*.properties" -delete || true
        find $HOME/.sbt                              -name "*.lock"               -delete || true
